{% extends 'base.html.twig' %}

{% block title %}Concert index{% endblock %}

{% block body %}
    <h1 class="title">Concert index</h1>

    <div class="container-fluid example-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Groupe</th>
                    <th>Date</th>
                    <th>Prix</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for concert in concerts %}
                <tr>
                    <td>{{ concert.id }}</td>
                    <td>{{ concert.name }}</td>
                    <td>{{ concert.band.name }}</td>
                    <td>{{ concert.date ? concert.date|date('Y-m-d') : '' }}</td>
                    <td>{{ concert.prix }}</td>
                    <td>
                        <button class="btn crud-button">
                            <a class="button-link" href="{{ path('app_concert_show', {'id': concert.id}) }}">Voir</a>
                        </button>
                        <button class="btn crud-button">
                            <a class="button-link" href="{{ path('app_concert_edit', {'id': concert.id}) }}">Modifier</a>
                        </button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <button class="btn crud-button">
            <a class="button-link" href="{{ path('app_concert_new') }}">Nouveau</a>
        </button>
    </div>
{% endblock %}
