{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container-fluid lg">
        <p>Bienvenue sur le site de notre salle de concert ! Nous sommes fiers de vous présenter un espace dédié à la musique live, où vous pourrez profiter d'une expérience inoubliable en découvrant de nouveaux talents et en applaudissant vos artistes préférés. Que vous soyez amateur de rock, de pop, de jazz ou de musique électronique, notre programmation éclectique saura vous séduire. Notre salle, équipée d'un son et d'une lumière de qualité professionnelle, vous garantit une immersion totale dans l'univers musical de chaque artiste. Nous sommes impatients de vous accueillir et de partager avec vous notre passion pour la musique !</p>
    </div>
    <h2 class="title">Voici la liste des concerts qui se sont produits dans no salles: </h2>
    <div class="container-fluid example-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Groupe</th>
                <th>Date</th>
                <th>Salle</th>
                <th>Prix (€)</th>
            </tr>
            </thead>
            <tbody>
            {% for concert in concerts %}
                <tr>
                    <td>{{ concert.name }}</td>
                    <td><a href="{{ path('app_band', {'id': concert.band.id}) }}">{{ concert.band.name }}</a></td>
                    <td>{{ concert.date ? concert.date|date('Y-m-d') : '' }}</td>
                    <td>{{ concert.stage.name }}</td>
                    <td>{{ concert.prix }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun concert n'est prévu !</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

    {% endif %}
{% endblock %}