{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h2 class="title">Voici la liste des concerts qui se sont produits dans nos salles: </h2>
    <div class="container-fluid example-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Groupe</th>
                <th>Date</th>
                <th>Salle</th>
                <th>Prix (€)</th>
            </tr>
            </thead>
            <tbody>
            {% for concert in concerts %}
                <tr>
                    <td><a href="{{ path('app_concert', {'id': concert.id}) }}">{{ concert.name }}</a></td>
                    <td><a href="{{ path('app_band', {'id': concert.band.id}) }}">{{ concert.band.name }}</a></td>
                    <td>{{ concert.date ? concert.date|date('Y-m-d') : '' }}</td>
                    <td>{{ concert.stage.name }}</td>
                    <td>{{ concert.prix }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun concert pour le moment !</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

    {% endif %}
{% endblock %}